<h1 id="about">
  {{translations?.title}}
</h1>
<mat-expansion-panel #aboutPanel [hideToggle]="!showAbout" [expanded]="showAbout" (closed)="hideAbout()" (opened)="openAbout()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ng-container *ngIf="showAbout">{{translations?.hide}}</ng-container>
      <ng-container *ngIf="!showAbout">{{translations?.summary}}</ng-container>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="normalAlign">{{translations?.detailOne}}</div>
</mat-expansion-panel>

<div class="centered">
  <button mat-button #aboutMoreDetail color="primary" (click)="toggleAbout()">
    <ng-container *ngIf="showAbout">{{translations?.showLess}}</ng-container>
    <ng-container *ngIf="!showAbout">{{translations?.showMore}}</ng-container>
  </button>
</div>
<mat-divider></mat-divider>
