@import '~@angular/material/theming';

.mat-expansion-panel {
  box-shadow: none;
  background-color: transparent;
  text-align: center;

  .mat-expansion-panel-header {
    &[aria-expanded=false]:hover {
      background: transparent;
      cursor: default;
    }

    &[aria-expanded=true] {
      display: inline-flex;
      height: 64px;

      &:hover, &:focus {
        background: rgba(0,0,0,.04);
      }
    }
  }

  .normalAlign {
    text-align: left;
    text-align: start;
  }
}

.centered {
  text-align: center;
}

button {
  padding: 0 3em;
}
