<h1 id="portfolio">
  {{translations?.title}}
</h1>

<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">help</mat-icon>
        &nbsp;
        {{translations?.tabTitleHelp}}
      </ng-template>
      <h2>Using the portfolio browser</h2>
      <p>Each tile in the collection below represents a completed project.</p>
      <p>A tile has a download button and a more details button.</p>
      <p>To be written on completion of the tiles feature...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">info</mat-icon>
        &nbsp;
        {{translations?.tabTitleClarification}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">view_quilt</mat-icon>
        &nbsp;
        {{translations?.tabTitleViews}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">filter_list</mat-icon>
        &nbsp;
        {{translations?.tabTitleFilter}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">search</mat-icon>
        &nbsp;
        {{translations?.tabTitleSearch}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="portfolio != null && translations != null" class="portfolioTiles">
    <mat-card class="example-card mat-card {{tile.expanded ? 'expanded' : ''}}" *ngFor="let tile of portfolio.tiles">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{translations[tile.titleTranslation]}}</mat-card-title>
        <mat-card-subtitle *ngIf="getLanguageTag(tile.tags); let language">
          <mat-chip-list>
            <mat-chip [selectable]="false">{{translations[getTranslationForSelectOption(language)]}}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image>
        <img src="{{tile.imageURL}}" alt="{{translations[tile.imageAltTextTranslation]}}">
      </div>
      <mat-card-content *ngIf="tile.expanded">
        <p [innerHTML]="translations[tile.descriptionTranslation]">
        </p>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of tile.tags" [selectable]="false">{{getTagChip(tag)}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="{{tile.link}}" target="_blank"><mat-icon>save_alt</mat-icon> {{translations?.download}}</a>
        <button mat-button *ngIf="!tile.expanded" (click)="tile.expanded = true"><mat-icon>expand_more</mat-icon> {{translations?.moreDetail}}</button>
        <button mat-button *ngIf="tile.expanded" (click)="tile.expanded = false"><mat-icon>expand_less</mat-icon> {{translations?.lessDetail}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
