<h1>
  {{translations?.title}}
</h1>

<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">help</mat-icon>
        &nbsp;
        {{translations?.tabTitleHelp}}
      </ng-template>
      <h2>Using the portfolio browser</h2>
      <p>Each tile in the collection below represents a completed project.</p>
      <p>A tile has a download button and a more details button.</p>
      <p>To be written on completion of the tiles feature...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">info</mat-icon>
        &nbsp;
        {{translations?.tabTitleClarification}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">view_quilt</mat-icon>
        &nbsp;
        {{translations?.tabTitleViews}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">filter_list</mat-icon>
        &nbsp;
        {{translations?.tabTitleFilter}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="portfolioTitleIcon">search</mat-icon>
        &nbsp;
        {{translations?.tabTitleSearch}}
      </ng-template>
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="portfolio != null && translations != null" class="portfolioTiles" cols="4" gutterSize="1em" rowHeight="fit">
    <mat-card class="example-card" *ngFor="let tile of portfolio.tiles">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{translations[tile.titleTranslation]}}</mat-card-title>
        <mat-card-subtitle>Temp</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image>
        <img src="{{tile.imageURL}}" alt="{{translations[tile.imageAltTextTranslation]}}">
      </div>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
