<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async) ? 'over' : 'side'"
      [opened]="(isHandset | async) && showSideNav"
               (closed)="showSideNav = false"
               *ngIf="(isHandset | async)">
    <mat-toolbar><a (click)="document.querySelector('.mat-sidenav-content').scroll({ top: 0 });">{{translations?.menu}}</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#about">{{translations?.about}}</a>
      <a mat-list-item href="#portfolio">{{translations?.portfolio}}</a>
      <a mat-list-item href="#cv">{{translations?.cv}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              attr.aria-label="{{translations?.menuIconInstructions}}"
              mat-icon-button
              (click)="showSideNav = !showSideNav"
              *ngIf="isHandset | async">
        <mat-icon attr.aria-label="{{translations?.menuIconDescription}}">menu</mat-icon>
      </button>
      <mat-nav-list>
        <a mat-list-item href="#" (click)="document.querySelector('.mat-sidenav-content').scroll({ top: 0 });">{{translations?.pageTitle}}</a>
        <a mat-list-item href="#about" *ngIf="!(isHandset | async)">{{translations?.about}}</a>
        <a mat-list-item href="#portfolio" *ngIf="!(isHandset | async)">{{translations?.portfolio}}</a>
        <a mat-list-item href="#cv" *ngIf="!(isHandset | async)">{{translations?.cv}}</a>
      </mat-nav-list>
    </mat-toolbar>

    <span id="top"></span>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
